:root {
  --color-white: hsl(0, 0%, 100%);
  --color-slate-300: hsl(212, 45%, 89%);
  --color-slate-500: hsl(216, 15%, 48%);
  --color-slate-900: hsl(218, 44%, 22%);
  --color-accent: hsl(218, 44%, 40%);

  --font-family-base: "Outfit", sans-serif;
  --font-size-base: 0.9375rem;
  --font-size-title: 1.375rem;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --radius-large: 1.25rem;
  --radius-medium: 0.75rem;
  --spacing-card-p: 1rem;

  --shadow-card: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 0.1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms;
    animation-iteration-count: 1;
    transition-duration: 0.01ms;
    scroll-behavior: auto;
  }
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  background-color: var(--color-slate-300);
  color: var(--color-slate-500);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.layout {
  flex: 1;
  display: grid;
  place-items: center;
  padding: clamp(1rem, 5vw, 1.5rem);
}

.card {
  background-color: var(--color-white);
  max-width: 20rem;
  width: 100%;
  padding: var(--spacing-card-p);
  border-radius: var(--radius-large);
  box-shadow: var(--shadow-card);
  text-align: center;
  animation: fadeIn 0.6s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card__image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: var(--radius-medium);
}

.card__content {
  padding-block: clamp(1rem, 5vh, 1.5rem);
  padding-inline: 0.75rem;
}

.card__title {
  color: var(--color-slate-900);
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-bold);
  line-height: 1.2;
  margin-block-end: 1rem;
}

.card__description {
  font-size: var(--font-size-base);
  line-height: 1.4;
  letter-spacing: 0.0125rem;
}

.attribution {
  font-size: 0.75rem;
  text-align: center;
  padding: 1.5rem;
  color: var(--color-slate-500);
  margin-top: auto;
}

.attribution a {
  color: var(--color-slate-900);
  text-decoration: none;
  font-weight: var(--font-weight-bold);
  transition: color 0.3s ease;
}

.attribution a:hover {
  color: var(--color-accent);
  text-decoration: underline;
}
